body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}
.sidebar {
    display: flex;
    flex-direction: column;
    order: 1;
    background: #dedede;
    min-width: 14em;
    width: calc(25%);
    max-width: 24em;
    border-right: solid 1px #000;
    height: 100%;
}
.sidebar-list {
    height: 85%;
    overflow-y: scroll;
}
.sidebar-fn {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background: #787878;
    padding: 0.5em;
    height: 4em;
}
#add-note-form {
    display: none;
}
#add-note-input {
    width: 12em;
}
.sidebar-btns {
    display: flex;
}
.note-display {
    display: flex;
    flex-direction: column;
    order: 2;
    flex-grow: 1;
    align-items: flex-start;
    margin: 0;
    background: #bababa;
    width: calc(100%-18em);
    height: 100%;
    overflow: hidden;
}
.note-header {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.note-title {
    color: #787878;
    font-size: 3em;
}
.note-wifi {
    display: flex;
    align-items: center;
    margin: 0 1em;
    margin-left: auto;
}
.note-time {
    display: flex;
    align-items: center;
    margin: 0 1em;
}
.spacer {
    display: flex;
    flex-grow: 1;
}
.debug {
    border: 1px dotted darkblue;
}