.container {
    display: flex;
    justify-content: space-between;
}
#sidebar {
    flex: 1 0 160px;
    padding-right: 2em;
    border-right: solid 1px #000;
}
#content {
    flex: 5 0 600px;
    margin: 1em 2em;
    padding: 1em;
    margin: 0 0 0 0;
}
#contentDisplay {
    margin: 0 5em 0 2em;
}
#fileNameForm {
    display: none;
}